@font-face{
    font-family: "Klyakson";
    src: url(./fonts/Klyakson.otf);
}
body{
    font-family: "Klyakson";
}
.main {
    width: 100%;
    max-width: 1440px;
    background: #0000005f;
    margin: auto;
}

 .explore {
     display: flex;
         justify-content: center;
         align-items: center;   
 }
 .info {
    background-color: rgb(236, 113, 152); 
    width:896px ;
    height:698px ;
 }
  .img {
     background-color:rgb(0, 126, 128) ; 
         width:  483px;
         height: 723px;
         display: flex;
         justify-content: center;
         align-items: center;   
 }


